.videoTileContainer{
    height: 400px;
    text-align: center;
    background: url('../../images/Banner.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.videoTileName{
    color: white;
    font-size: 40px;
    filter: none;
    font-weight: 500;
}

.underlineTxtWhite{
    color: white;
    border-bottom: 4px solid white;
}

.videoTileInfoWrapper{
    padding: 50px 0;
}